# pre-commit-vauxoo files
.bandit
.editorconfig
.eslintrc.json
.flake8
.flake8-optional
.isort.cfg
.pre-commit-config-autofix.yaml
.pre-commit-config-optional.yaml
.pre-commit-config.yaml
.prettierrc.yml
.pylintrc
.pylintrc-optional
doc8.ini
pyproject.toml
# --
